.vscode/**
.devbox/**
.envrc
.gitignore
.oxfmtrc.json
.oxlintrc.json
.pre-commit-config.yaml
src/**
tmp/**
bin/**
scripts/**
node_modules/**
devbox.json
devbox.lock
bun.lock
knip.json
tsconfig.json
vscode.proposed.*.d.ts
**/*.map
**/*.ts
**/*.bats
release/**
!dist/**
